<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/common.css">
  <style type="text/css">
  body{
    background:url(../img/body_bj.jpg)
  }
  .main{
    margin-top:-38px;
  }
  #add{
    padding: 0px 7px;
  }

</style>
</head>

<iframe src="error" width="100%" height="" scrolling="" frameborder="" name="main"></iframe>
<iframe src="menu" width="188" height="551" scrolling="" frameborder="" class="main"></iframe>
<iframe src="line" width="10" height="551" scrolling="no" frameborder="" class="main" background="#303030"></iframe>

<!-- 添加商品 -->
<!-- <iframe src="add" width="82%" height="551" scrolling="" frameborder="" class="main" id="add"></iframe> -->
<!-- 商品列表 -->
<iframe src="" width="82%" height="551" scrolling="" frameborder="" class="main" id="goods" name="goods"></iframe>



<body>
	
</body>
</html>




