<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<style type="text/css">
*{margin:0;padding:0;}
.line{
	width:10px;
	height:551px;
	background:#303030;
	position:relative;
}
.line a{
	cursor: pointer;
	position:absolute;
	top:50%;
}


</style>
<body>
	<div class="line">
		<a href="#">
			<img src="../img/arrow_right.gif">
			
		</a>
	</div>
</body>
</html>