
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>

	<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
	
	<script type="text/javascript" src="../js/public.js"></script>

	<script type="text/javascript" src="../js/menu.js"></script>
	
	<link rel="stylesheet" type="text/css" href="http://localhost:8080/stylesheets/menu.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:8080/stylesheets/common.css">
</head>
<body style="cursor: auto;">
	<div class="top-one">
		<p>
			<span>导航菜单</span>
		</p>
	</div>
	<div class="show">
		<div class="show-div">
			<ul>
				<li class="collapse1">
					商品管理 

					<ul class="oUl" style="display: none;">

						<li class="menu-item">
							<a href="goods" target="goods">商品列表</a>
						</li>
						<!-- 2 -->
						<li class="menu-item">
							<a href="add" target="goods">添加新商品</a>
						</li>
						<!-- 3 -->
						<li class="menu-item">
							<a href="#">商品分类</a>
						</li>
						<!-- 4 -->
						<li class="menu-item">
							<a href="#">用户评论</a>
						</li>
						<!-- 5 -->
						<li class="menu-item">
							<a href="#">商品品牌</a>
						</li>
						<!-- 6 -->
						<li class="menu-item">
							<a href="#">商品类型</a>
						</li>
						<!-- 7 -->
						<li class="menu-item">
							<a href="#">商品回收站</a>
						</li>
						<!-- 8 -->
						<li class="menu-item">
							<a href="#">商品分类</a>
						</li>

					</ul>
				</li>
			</ul>
			<!-- 2 -->
			<li class="collapse2">
				促销管理 
				<ul style="display: none;">
					<li class="menu-item">
						<a href="#">商品列表</a>
					</li>
					<!-- 2 -->
					<li class="menu-item">
						<a href="#">添加新商品</a>
					</li>
					<!-- 3 -->
					<li class="menu-item">
						<a href="#">商品分类</a>
					</li>
					<!-- 4 -->
					<li class="menu-item">
						<a href="#">用户评论</a>
					</li>
					<!-- 5 -->
					<li class="menu-item">
						<a href="#">商品品牌</a>
					</li>
					<!-- 6 -->
					<li class="menu-item">
						<a href="#">商品类型</a>
					</li>
					<!-- 7 -->
					<li class="menu-item">
						<a href="#">商品回收站</a>
					</li>
					<!-- 8 -->
					<li class="menu-item">
						<a href="#">商品分类</a>
					</li>

				</ul>
			</li>
		</ul>
		<!-- 3 -->
		<li class="collapse3">
			订单管理  
			<ul style="display: none;">
				<li class="menu-item">
					<a href="#">商品列表</a>
				</li>
				<!-- 2 -->
				<li class="menu-item">
					<a href="#">添加新商品</a>
				</li>
				<!-- 3 -->
				<li class="menu-item">
					<a href="#">商品分类</a>
				</li>
				<!-- 4 -->
				<li class="menu-item">
					<a href="#">用户评论</a>
				</li>
				<!-- 5 -->
				<li class="menu-item">
					<a href="#">商品品牌</a>
				</li>
				<!-- 6 -->
				<li class="menu-item">
					<a href="#">商品类型</a>
				</li>
				<!-- 7 -->
				<li class="menu-item">
					<a href="#">商品回收站</a>
				</li>
				<!-- 8 -->
				<li class="menu-item">
					<a href="#">商品分类</a>
				</li>

			</ul>
		</li>
	</ul>
	<!-- 4 -->
	<li class="collapse4">
		广告管理 
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>

	<!-- 5 -->
	<li class="collapse5">
		报表统计 
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>

	<!-- 6 -->
	<li class="collapse6">
		文章管理
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>
	<!-- 7 -->
	<li class="collapse7">
		会员管理 
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>
	<!-- 8 -->
	<li class="collapse8">
		权限管理 
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>
	<!-- 9 -->
	<li class="collapse9">
		系统管理 
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>
	<!-- 10 -->
	<li class="collapse10">
		模板管理 
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>
	<!-- 11 -->
	<li class="collapse11">
		数据库管理 
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>
	<!-- 12 -->
	<li class="collapse12">
		短信管理 
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>
	<!-- 13 -->
	<li class="collapse13">
		推荐管理 
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>
	<!-- 14 -->
	<li class="collapse14">
		邮件群发管理 
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>
	<!-- 15 -->
	<li class="collapse15">
		移动版管理 
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>
	<!-- 16 -->
	<li class="collapse16">
		模板堂知识库 
		<ul style="display: none;">
			<li class="menu-item">
				<a href="#">商品列表</a>
			</li>
			<!-- 2 -->
			<li class="menu-item">
				<a href="#">添加新商品</a>
			</li>
			<!-- 3 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>
			<!-- 4 -->
			<li class="menu-item">
				<a href="#">用户评论</a>
			</li>
			<!-- 5 -->
			<li class="menu-item">
				<a href="#">商品品牌</a>
			</li>
			<!-- 6 -->
			<li class="menu-item">
				<a href="#">商品类型</a>
			</li>
			<!-- 7 -->
			<li class="menu-item">
				<a href="#">商品回收站</a>
			</li>
			<!-- 8 -->
			<li class="menu-item">
				<a href="#">商品分类</a>
			</li>

		</ul>
	</li>


</ul>




</div>
</div>
</body>
</html>