/*头部*/
.header{
width:100%;
height:75px;
background:#303030;
}

.header h1{
margin-left: 30px;
margin-top: 20px;
height: 45px;
float: left;
}
.topR{
	width:1000px;
	height:75px;
	float:right;
}
.topR ul{
	float:right;
}
.topR li{
		float: left;
    width: 82px;
    height: 82px;
}
.topR li a{
	text-align: center;
    height: 67px;
    width: 82px;
    padding-top: 8px;
    display: block;
    text-decoration: none;
    color: #FFF;
}
.topR li a img{
	margin:auto;
	height: 35px;
	margin-bottom: 3px;
}
.topR li a span{
	margin-top: 6px;
	font-size:12px;
}
.topR li:first-child{
	width:102px;
}
.topR li:first-child a{
	width:102px;
	color: #ff0;
  font-weight: bold;
}
.nav{
	width:100%;
	height:41px;
	background: #575757;
	border-bottom: 1px solid #212121;
}
.nav ul{
	margin: 0px 0px 0px 15px;
  padding: 0;
}
.nav li{
	float: left;
  height: 41px;
  line-height: 41px;
}
.nav li a{
  color: #FFF;
  font-size:12px;
	padding: 0px 8px;
}
.nav li a img{
	float: left;
	padding-top: 12px;
  padding-right: 6px;
 padding-left: 12px;
}
.nav li a span{
	float: left;
	margin-left: 7px;
	height:26px;
}
.nav li a .s1:hover{
	border-bottom: 1px solid #fff;
}
.nav li:hover{
background: #454545;
}
.nav .line{
	    height: 13px;
    width: 0px;
    border-right: 1px solid #656565;
    margin-top: 15px;
    _margin-top: 0px;
    border-left: 1px solid #303030;
    display: inline-block;
}
.num{
    width: 32px;
    height: 16px;
    background: url(../img/index-11_22.png) no-repeat scroll;
    line-height: 16px;
        margin-top: 12px;
    margin-left: 11px;
    vertical-align: middle;
    text-align: center;
  }